<h1>Stories</h1>
<div class="row">
    {{!-- {{user}} -> scope for current logged in user --}}
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <!-- editIcon(stories.user: user, user: ../user, stories._id: _id) -->
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <!-- stripTags(truncate(body, 150)) -->
                <p>{{stripTags (truncate body 150)}}</p>
                <br />
                <div class="chip">
                    <!-- stories.user.image, stories.user._id, stories.user.displayName -->
                    <img src="{{user.image}}" alt="user avatar">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <!-- stories._id -->
                <a href="/stories/{{_id}}" class="btn-grey">Read more</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No stories available to display.</p>
    {{/each}}
</div>